<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Agendar Horário - Barbearia Compasso</title>

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/msg.css">
</head>

<body>
	<%- include('header') %>

		<main>
			<div class="msg-div">

				<div class="text">
					Erro ao agendar horário!
				</div>
			</div>
			</form>
			</div>
		</main>
		<%- include('footer') %>
</body>

</html>