<header>
  <div class="caixa">
    <h1><img src="images/logo.png"></h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/agendar">Agendar</a></li>
      </ul>
    </nav>
  </div>
</header>